* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.test {
  background-color: rgba(255, 0, 0, 0.466);
  outline: 1px solid red;
}
